#heroTitle {
    color: #FFA500;
}

#about {
    background-color: #FFA500;
    opacity: ;
}

#aboutContainer {
    background-color: #B2B3B4;
    color: white;
}

#portfolio {
    background-color: #8f8b86;
    
}
#contact {
    background-color: #F1F2F3;
}